.tablex {
    background: red;
    width: 100%;
    table-layout: auto;
    resize: vertical;
    overflow-y: auto;
    height: 500px;
}

.tablex thead tr:nth-child(1) th {
    height: 36px; /* Set the height of the first header row */
    position: sticky;
    top: 0;
    background: yellow;
    z-index: 2;
}

.tablex thead tr:nth-child(2) th {
    position: sticky;
    height: 36px;
    top: 36px; /* Adjust to match the height of the first header row */
    background: yellow;
    z-index: 1;
}