* {
    box-sizing: border-box;
}

.wrapper>div {
    border: 5px solid seagreen;
    border-radius: 5px;
    background-color: greenyellow;
    padding: 3px;
    color: darkgreen;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    justify-content: center;
    align-content: center;
}

.wrapper .one {
    grid-column: 1;
    grid-row: 2 / 5;
}

.wrapper .two {
    grid-column: 2;
    grid-row: 1;
}

.wrapper .three {
    grid-column: 3;
    grid-row: 1;
}

.wrapper .four {
    grid-column: 3;
    grid-row: 3;
}

.wrapper .five {
    grid-column: 2;
    grid-row: 4;
}

.wrapper .six {
    grid-column: 5;
    grid-row: 5;
}

.game {
    display: grid;
    grid-template-columns: 6f 2fr 2fr 2fr;
    margin: 5px;
    padding: 5px;
}

.game .homeTeam {
    grid-column: 1;
    grid-row: 1;
}

.game .guestTeam {
    grid-column: 1;
    grid-row: 2
}

.game .homeGoals {
    grid-column: 2;
    grid-row: 1;
}

.game .guestGoals {
    grid-column: 2;
    grid-row: 2;
}

.game .date {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.game .time {
    grid-column: 4;
    grid-row: 1 / span 2;
}